{% extends 'NPFinal/base.html' %}
{% block body %}<body class="contact-page">{% endblock %}
{% block content %}
<div style="margin-left: 30%;">
	<div>
		<div class="box">
			<div class="box-icon">
				<img src={{ src }} alt="Image" class="img-responsive">
			</div>
			<div class="info float-container">
				 <a class="hashtag" href=""> #autumn</a>
				 <a class="hashtag" href=""> #bench</a>
				 <div class="col-sm-12 location-main"> 
						<div class="pull-right user-icons">
							<a href="#"><i class="fa fa-star fa-2x"></i></a>
						</div>
				</div>
			</div>
			<div>
				<div class="comment-block">
					<div class="comment-author">
						<p style="text-decoration: dotted;">TestMonkey</p>
					</div>
					<div class="comment-msg">
						<p>Awsome</p>
					</div> 

					<div class="comment-author">
						<p style="text-decoration: dotted;">TestLion</p>
					</div>
					 <div class="comment-msg">
						<p>Wow</p>
					</div> 

				</div>   
			</div>
			<div class="comment-block">
				<textarea>Leave comments...</textarea>
				<button type="button">send</button>
			</div>    
		</div>    
			 
	</div>
</div>
{% endblock %}