<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">    
    <link rel="stylesheet" type="text/css" href="css/style.css">
<!--
Accord Template
http://www.templatemo.com/tm-478-accord
-->   
    <title>nanoDick - Login</title>
</head>

<body class="contact-page">
    <div class="main-body">
        <div class="container">
            <div class="row">
                <div class="main-page">

                    <aside class="main-navigation">
                        <div class="main-menu">

                            <div class="menu-container">
                                <div class="block-keep-ratio block-keep-ratio-2-1 block-width-full home">
                                  <a href="index.html" class="main-menu-link about block-keep-ratio__content flexbox-center">
                                          <h3> HOME </h3>                              
                                    </a>
                                </div>                                
                            </div> 
                            <div class="menu-container">                                
                                <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-left  about-main">                                    
                                    <a href="login.html" class="main-menu-link about block-keep-ratio__content flexbox-center">
                                        <h3>Favourites</h3>
                                    </a>                                    
                                </div>
                                 <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main" style="background-color:green">
                                    <a href="register.html" class="main-menu-link contact block-keep-ratio__content flexbox-center">
                                        <h3>Uploaded</h3>
                                    </a>                                
                                </div>    
                            </div>  
                             <div class="menu-container">
                                 <div class="block-keep-ratio  block-keep-ratio-2-1  block-width-full  contact-main" style="background-color:#0059b3">
                                    <a href="" class="main-menu-link contact block-keep-ratio__content flexbox-center">
                                        <h3>Upload image</h3>
                                    </a>                                
                                </div>                           
                            </div>   
                        </div> <!-- main-menu -->
                    </aside> <!-- main-navigation -->                 
                </div> <!-- .main-page -->

                 <div style="margin-left: 30%;">
                    <div>
                        <div class="box">
                            <div class="box-icon">
                                <img src="images/home-img-3.jpg" alt="Image" class="img-responsive">
                            </div>
                            <div class="info float-container">
                                 <a class="hashtag" href=""> #autumn</a>
                                 <a class="hashtag" href=""> #bench</a>
                                 <div class="col-sm-12 location-main"> 
                                        <div class="pull-right user-icons">
                                            <a href="#"><i class="fa fa-star fa-2x"></i></a>
                                        </div>
                                </div>
                            </div>
                            <div>
                                <div class="comment-block">
                                    <div class="comment-author">
                                        <p style="text-decoration: dotted;">TestMonkey</p>
                                    </div>
                                    <div class="comment-msg">
                                        <p>Awsome</p>
                                    </div> 

                                    <div class="comment-author">
                                        <p style="text-decoration: dotted;">TestLion</p>
                                    </div>
                                     <div class="comment-msg">
                                        <p>Wow</p>
                                    </div> 
   
                                </div>   
                            </div>
                            <div class="comment-block">
                                <textarea>Leave comments...</textarea>
                                <button type="button">send</button>
                            </div>    
                            </div>    
                             
                        </div>
                    </div>
                    
                 </div>   

            </div> <!-- .row -->

            <footer class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
                    <p class="copyright">Copyright © 2016 Company Name</p>
                </div>    
            </footer>  <!-- .row -->   

        </div> <!-- .container -->
    </div> <!-- .main-body -->

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
</body>
</html>
