{% extends 'NPFinal/base.html' %}
{% block body %}<body class="contact-page">{% endblock %}
{% block content %}

<div class="content-main login-content">
	<div class="login-content-upper">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="login_title">
					<h3>nanoDick</h3>
					<h4>Login to share your images!</h4>
				</div>    
			</div>                            
		</div>

		<div class="row">  
			<div class="col-sm-12 col-md-6 contact_left">        
				{{ msg }}
			</div> <!-- .contact-left -->
		</div> <!-- .row -->
	</div>

</div> <!-- .contact-content -->
{% endblock %}