{% extends 'NPFinal/base.html' %}
{% block body %}<body class="contact-page">{% endblock %}
{% block content %}
<div class="content-main register-content">
	<div class="register-content-upper">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="register_title">
					<h3>nanoDick</h3>
					<h4>Register and share your images!</h4>
				</div>    
			</div>                            
		</div>

		<div class="row">  
			<div class="col-sm-12 col-md-6 contact_left">        
				<form class="form-horizontal" method="post">
				  {% csrf_token %}
				  {{ form }}
						 <!--  <input type="submit" value="Submit"/>
							<div class="form-group">    
								<label for="reg_name">Enter your name: </label>                                 
								<input type="text" class="form-control" id="name" name="name" value="">                                    
							</div>

							<div class="form-group">
								<label for="reg_mail">Enter your email: </label>
								<input type="email" class="form-control" id="email" name="email" value="">      
							</div>
							 <div class="form-group">
								<label for="reg_pwd">Password: </label>
								<input type="password" class="form-control" value="">      
							</div> 
								
							<div class="form-group">
								<input id="submit" name="submit" type="submit" value="Send" class="btn view_more btn-register">
							</div>            --> 
					<input id="submit" name="submit" type="submit" value="Send" class="btn view_more btn-register">
				
				</form>    
			</div> <!-- .contact-left -->
		</div> <!-- .row -->
	</div>
</div> <!-- .contact-content -->
{% endblock %}